@media(min-width: 400px) {


body{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border: solid 13px grey;
}

a {
    text-decoration: none;
    color: grey;
    margin: 13px;
}

.container{
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(12, auto);
    justify-items: start ;
    width: auto;
/* 
    grid-template-areas:
"logo logo logo logo pic1"
"logo logo logo logo pic2"
"logo logo logo logo pic3"
"pic4 pic4 pic5 pic6 pic7"
"pic4 pic pic5 pic6 pic7"
"pic8 pic9 pic9 pic10 pic11"
"pic8 pic13 pic14 pic14 pic15"
"pic12 pic13 pic16 pic17 pic18"
"pic19 pic20 pic20 . info"; */
}

/* .image {
    border: solid 5px white;
} */

.item{
    height: auto;
    width: 100%;
    justify-items: end;
}

.cell{
    height: auto;
    width: 100%;
    margin: 3px;
}

.cell-a{
    grid-area: logo;
    grid-column: 1/5;
    grid-row: 1/4;
}
.cell-b{
    grid-area: pic1;
    grid-column: 5/6;
    grid-row: 1/2;
}
.cell-c{
    grid-area: pic2;
    grid-column: 5/6;
    grid-row: 2/3;
}
.cell-d{
    grid-area: pic3;
    grid-column: 5/6;
    grid-row: 3/4;
}
.cell-e{
    grid-area: pic4;
    grid-column: 1/3;
    grid-row: 4/6;
}
.cell-f{
    grid-area: pic5;
    grid-column: 3/4;
    grid-row: 4/6;
}
.cell-g{
    grid-area: pic6;
    grid-column: 4/5;
    grid-row: 4/6;
}
.cell-h{
    grid-area: pic7;
    grid-column: 5/6;
    grid-row: 4/6;
}
.cell-i{
    grid-area: pic8;
    grid-column: 1/2;
    grid-row: 6/8;
}
.cell-j{
    grid-area: pic9;
    grid-column: 2/4;
    grid-row: 6/7;
}
.cell-k{
    grid-area: pic10;
    grid-column: 4/5;
    grid-row: 6/7;
}
.cell-l{
    grid-area: pic11;
    grid-column: 5/6;
    grid-row: 6/7;
}
.cell-m{
    grid-area: pic12;
    grid-column: 1/2;
    grid-row: 8/9;
}
.cell-n{
    grid-area: pic13;
    grid-column: 2/3;
    grid-row: 7/9;
}
.cell-o{
    grid-area: pic14;
    grid-column: 3/5;
    grid-row: 7/8;
}
.cell-p{
    grid-area: pic15;
    grid-column: 5/6;
    grid-row: 7/8;
}
.cell-q{
    grid-area: pic16;
    grid-column: 3/4;
    grid-row: 8/9;
}
.cell-r{
    grid-area: pic17;
    grid-column: 4/5;
    grid-row: 8/9;
}
.cell-s{
    grid-area: pic18;
    grid-column: 5/6;
    grid-row: 8/9;
}
.cell-t{
    grid-area: pic19;
    grid-column: 1/2;
    grid-row: 9/10;
}
.cell-u{
    grid-area: pic20;
    grid-column: 2/4;
    grid-row: 9/10;
}
.cell-v{
    grid-area: info;
    grid-column: 5/6;
    grid-row: 9/10;
}

 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: burlywood;
    /* border-top: solid grey 12px;
    border-left: solid grey 12px;
    border-right: solid grey 12px;width: 860px; */
}

li {
    float: left;
    border-right:2px solid burlywood;
    }
    
    li:last-child {
    border-right: none;
    }
    
    li a {
    display: block;
    color: black;
    text-align: right;
    padding: 7px 7px;
    text-decoration: none;
    }
}